<!DOCTYPE html>
{% load static %} {# 템플릿 태그로 정적파일을 메모리로 불러들인다는 명령 #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>블로그 글 목록</title>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %} <!-- 로그인 완료된 사용자에게만 허락 -->
        <a href="{% url 'post_new' %}" class="top-menu">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a href="{% url 'post_draft_list' %}" class="top-menu">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a href="{% url 'logout' %}" class="top-menu">로그아웃</a>
        <span class="top-menu">{{ user.username }}님</span>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu">로그인</a>
        <a href="{% url 'admin:index' %}" class="top-menu">관리자</a>
    {% endif %}
    <a href="{% url 'post_list' %}" class="top-menu">
        글 목록
    </a>
    <h1><a href="/">장고 걸스 블로그</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">  <!--부트스트랩 그리드 시스템-->
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>