<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
</head>
<body>
<h1> <a href = "">장고 걸스 블로그 </a></h1>
    {% comment %}
    {{posts}} <br/><br/> {# 이게 장고 템플릿 변수(변수의 내용을 출력할 때 사용) #}
    {# 아래 루프 처리 부분이 장고 템플릿 태그 #}
    {% for post in posts %} {# 여기부터 for루프 시작 #}
        {{post}} <br/>
    {% endfor %}            {# 여기까지 for루프 끝 #}
    {% endcomment %}

    {% for post in posts %}
    <div>
        <h2><a href="">{{post.title}}</a></h2>
        <p>게시일시: {{post.published_date}}</p>
        <p>{{post.text|linebreaksbr}}</p>
    {% endfor %}
</body>
</html>